{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p><small>Publié le {{ post.createdAt|date('d/m/Y H:i') }}</small></p>

    <a href="{{ path('blog_index') }}">Retour à la liste</a>
{% endblock %}
